.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

.landing-page {
    text-align: center;
    padding: 50px;
}

.register-btn,
.login-btn {
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
}

.register-btn {
    background-color: #FF6600;
    color: #FFFFFF;
}

.login-btn {
    background-color: #FFFFFF;
    color: #FF6600;
    border: 2px solid #FF6600;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
