.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 480px;
}

.containerwithnav {
  padding-bottom: 6.563rem;
  /* min-height: calc(100vh - 5.25rem); */
  max-height: calc(100vh - 5.25rem);
  overflow-y: auto;
}

.containerwhite {
  background-color: #fff;
}

.main {
  width: 100%;
  padding: 1rem;
}

.greyback {
  position: absolute;
  z-index: -1;
  top: 14rem;
  left: 0;
  background-color: #dfecec;
  height: calc(100% + 14rem);
  display: block;
  width: 100%;
}

.homeheader {
  width: 100%;
  padding: 2rem 1rem 0;
  display: flex;
  justify-content: flex-end;
}

.homeheaderuser {
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeheaderuser svg {
  width: 0.875rem;
  height: 0.875rem;
}

.homeheaderuser path {
  fill: #000;
}

.header {
  width: 100%;
  padding: 1rem 2.5rem 1rem 1.938rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4.063rem;
}

.headertitle {
  transform: translate(-1rem, -1px);
}

.headericon svg {
  width: 1rem;
  height: 1rem;
}

.headericon path {
  fill: #000;
}

.headerlogin {
  width: 100%;
  padding: 3.563rem 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8.063rem;
}

.headerlogin a {
  display: block;
}

.headerlogin img {
  display: block;
  width: 178px;
  height: 40px;
}

.loginregister {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1rem;
  padding-top: 0;
}

.loginregisterwrapper {
  padding-top: 0.625rem;
}

.loginform {
  padding: 2rem 0;
}

.loginform fieldset {
  display: block;
  outline: none;
  border: none;
  padding: 0;
  padding-bottom: 1.5rem;
}

.loginform label {
  display: block;
  font-size: 0.875rem;
  color: #707070;
  margin-bottom: 0.5rem;
}

.loginform input {
  padding: 1rem;
  border-radius: 0.5rem;
  border: solid 1px #d4d4d4;
  font-size: 0.875rem;
  width: 100%;
  color: #000;
  background-color: #f1f1f1;
}

.ctas {
  width: 100%;
  text-align: center;
}

.ctas:last-child a {
  margin-bottom: 0;
}

.secctas {
  padding: 1rem 0;
}

.secctas a {
  font-size: 0.875rem;
  color: #707070;
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.secctas a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  width: 100%;
  left: 0;
  height: 1.5px;
  background-color: #707070;
}

.divider {
  display: block;
  width: 100%;
  padding-top: 1rem;
  margin-bottom: 1rem;
  border-bottom: solid 1px #e2e2e2;
}

.cardimage {
  margin: 0 -1rem 1rem;
  width: calc(100% + 2rem);
}

.cardimage img {
  display: block;
}

.itinerary {
  border-radius: 2rem 2rem 0 0;
  background-color: #dfecec;
  overflow: hidden;
  min-height: calc(100vh - 4.063rem);
}

.itineraryimage {
  margin: -1rem 0 0;
  width: calc(100% + 2rem);
}

.itineraryimage img {
  display: block;
}

.itinerarycard {
  position: relative;
  padding: 0 1rem;
  margin: -2rem 0 0;
}

.itinerarycardsub {
  padding: 1rem;
}

.itinerarycardsub + .itinerarycardsub {
  padding-top: 0;
}

.itinerarysiri {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.itineraryaddsiri {
  display: flex;
  align-items: center;
  border: solid 1px #707070;
  border-radius: 2rem;
  padding: 0.2rem 0.5rem;
  font-weight: 700;
  text-decoration: none;
  color: #000;
  flex: 0 0 50%;
}

.itineraryaddsiri img {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  margin-right: 0.5rem;
}

.itinerarysiritext {
  font-size: 0.875rem;
  color: #707070;
  flex: 0 0 50%;
  margin-right: 0.5rem;
}

.checkincard {
  padding: 1rem;
}

.checkincard + .checkincard {
  padding-top: 0;
}

.checkinpassengers {
  padding: 1.5rem 0 0;
}

.checkinlisthead {
  padding: 0 0 0.5rem 0;
}

.checkinlist {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: solid 1px #e2e2e2;
}

.checkinlist:last-child {
  margin-bottom: -1rem;
}

.checkinlistname {
  font-weight: 700;
  font-size: 0.875rem;
}

.checkinlistcta a {
  margin: 0.95rem 0;
}

.checkedinhead {
  padding: 2rem 2.25rem 0.5rem 2.25rem;
  font-size: 1.5rem;
}

.checkedinintro {
  padding: 0.5rem 2.25rem;
  font-size: 0.875rem;
}
