.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.container2 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
}

.main {
  width: 100%;
  padding: 1rem;
}

.homeheader {
  width: 100%;
  padding: 2rem 1rem 0;
  display: flex;
  justify-content: flex-end;
}

.homeheaderuser {
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeheaderuser svg {
  width: 0.875rem;
  height: 0.875rem;
}

.homeheaderuser path {
  fill: #000;
}

.header {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerlogin {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5.25rem;
}

.headerlogin img {
  width: 113px;
  height: 25px;
}

.loginregister {
  width: 100%;
  min-height: calc(100vh - 5.25rem);
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  padding: 1rem;
}

.loginform {
  padding: 2rem 0;
}

.loginform fieldset {
  display: block;
  outline: none;
  border: none;
  padding: 0;
  padding-bottom: 1.5rem;
}

.loginform label {
  display: block;
  font-size: 0.875rem;
  color: #707070;
  margin-bottom: 0.5rem;
}

.loginform input {
  padding: 1rem;
  border-radius: 0.5rem;
  border: solid 1px #d4d4d4;
  font-size: 0.875rem;
  width: 100%;
  color: #000;
}

.ctas {
  width: 100%;
  text-align: center;
}

.divider {
  display: block;
  width: 100%;
  padding-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-bottom: solid 2px #e2e2e2;
}

.title {
}

.cardimage {
  margin: 0 -1.25rem 1rem;
  width: calc(100 + 2.5rem);
}

.cardimage img {
  display: block;
}
