.flightrow1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flightnum {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
}

.flightnum div {
  margin-top: 0.2rem;
  color: #707070;
}

.flightnum svg {
  transform: rotate(45deg);
}

.flightcode {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 100;
}

.flightdepart {
  font-size: 0.875rem;
  line-height: 1.8;
}

.flightarrive {
  font-size: 0.875rem;
  text-align: right;
  line-height: 1.8;
}

.flightdate {
  color: #707070;
}

.flightaddextras {
  text-align: center;
}

.flightaddextrasheading {
  font-size: 1.125rem;
  margin-bottom: 0.1rem;
}

.flightaddextrasparagraph {
  font-size: 0.875rem;
  color: #707070;
}

.flightheadinghome {
  font-weight: 700;
  text-align: center;
  margin-bottom: 0.25rem;
}

.flightheading {
  font-weight: 700;
  margin-bottom: 0.3rem;
}

.flightcountdownitinerary {
  font-weight: 700;
  text-align: center;
}

.flightdays {
  font-weight: 300;
  font-size: 1.5rem;
  text-align: center;
}

.flightcountdownhome {
  margin-bottom: 0.625rem;
  margin-top: -0.313rem;
}

.flightfootnote {
  text-align: center;
  color: #707070;
}

.bookingreference {
  font-weight: 700;
  font-size: 1.125rem;
}

.bookingreferencenumber {
  font-size: 1.125rem;
}

.bookingreferencenote {
  font-size: 0.875rem;
  color: #707070;
  padding: 1rem 0;
}

.gatecloses {
  font-size: 0.875rem;
  color: #707070;
  margin-bottom: 0.5rem;
}

.boardingsum {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.boardingsumhead {
  font-weight: 700;
  color: #707070;
  font-size: 0.75rem;
}

.boardingsumbody {
  font-weight: 700;
}

.boardingsumqr {
  width: 132px;
  height: 132px;
  margin-right: 1rem;
}

.boardingsumlist {
  font-size: 0.875rem;
  flex: 1;
}

.boardingsumlist > div {
  margin-bottom: 0.75rem;
}

.boardingsumth {
  font-weight: 700;
  display: inline-block;
  margin-right: 0.3rem;
}

.addtowallet {
  display: flex;
  align-items: center;
  justify-content: center;
}

.addtowallet img {
  display: inline-block;
  width: 53px;
  height: 53px;
}

.addtowallet a {
  margin: 0;
}

.delayed {
  background-color: #b00020;
  margin: 1rem 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  color: #fff;
  height: 2rem;
}

.delayed svg {
  margin-right: 0.2rem;
}

.delayed path {
  fill: #fff;
}
