.bottomnavigation {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  bottom: 0;
  z-index: 1;
  height: 3.25rem;
  background-color: #fff;
}

.bottomnavigation li {
  margin: 0;
  padding: 0;
}

.bottomnavigation a {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  border-radius: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    padding-top 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  padding: 0px 12px;
  min-width: 80px;
  max-width: 168px;
  flex-direction: column;
  flex: 1 1 0%;
  color: #707070;
  font-size: 0.75rem;
}

.bottomnavigation svg {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  stroke: #707070;
  fill: transparent;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 1.5rem;
}

.current svg {
  stroke: #f60;
  fill: #f60;
}

.current a {
  color: #f60;
}

.logo img {
  width: 92px;
  height: 21px;
}

.backbutton {
  display: flex;
  align-items: center;
}

.backbutton svg {
  transform: translateY(3px);
}
